.profile {
	--border: 7px;
	--gap: 10px;
	--color: #C6D4DF;
	
	width: 200px;
	aspect-ratio: 1;
	box-sizing: border-box;
	border-radius: 50%;
	margin: 20px;
	cursor: pointer;
	padding: calc(var(--border) + var(--gap));
	
	--angle: 90deg;
	background:
	  radial-gradient(farthest-side,var(--color) 9%,#0000 101%) 85.35% 85.35%,
	  conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
	  radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
	background-size: var(--border) var(--border),auto;
	background-repeat: no-repeat;
	
	-webkit-mask:
	  radial-gradient(farthest-side, 
	   #000  calc(99%  - calc(var(--border) + var(--gap))),
	   #0000 calc(100% - calc(var(--border) + var(--gap))) 
			 calc(99%  - var(--border)), 
	   #000  calc(100% - var(--border)));
			mask:
	  radial-gradient(farthest-side, 
	   #000  calc(99%  - calc(var(--border) + var(--gap))),
	   #0000 calc(100% - calc(var(--border) + var(--gap))) 
			 calc(99%  - var(--border)), 
	   #000  calc(100% - var(--border)));
	transition: --angle .4s,--gap .4s;
  }
  img:hover {
	--angle: 0deg;
	--gap: 5px;
  }

.projectscontainer{
	width: 400%;
	margin-left: -785px;
}

.herocontainer {
	background-image: url('https://jennyivy.com/assets/images/bluecactus.jpg');
	height: 720px;

}

.navbarText {
	color: #C6D4DF;
	background-color: #607d8b;
}

#mobilenavbarText {
	color: #607d8b
}

#navbarLink { color: #eceff1; }

#samplesLink { color: #607d8b; }

#mainsection {
	margin-top: 50px;
}
.button {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #607d8b;
}
main {
	flex: 1 0 auto;
}

.bodycopy {
		background-color: #607d8b ;
		color: rgba(255,255,255,0.8);
}

.nametitle {
	padding-top: 65px;
	color: #eceff1;
	font-size: 72px;
    position: relative;
	margin-top: 250px;
	
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
   opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.6s;
   animation-delay: .9s;
  }
 
.fade-in.delayed {
  animation-delay: 1.4s;
}

.titleText {
	color: white;
	font-size: 24px;
	font-family: 'PT Serif', serif;
	width: 100%;
margin-bottom: -25px;
}

.header {
	background-color: #607d8b ;
	
}

.header {
	background-color: #607d8b ;
	margin-left: 140px;
}

.contactme {
	background-color: #37474f ;
	width: 100%;
	
}

#landing{
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/10/26/15/26/board-503944_960_720.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    
}

#landingprojects{
    height: 200vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/06/16/51/background-2377762_960_720.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    
}

@-webkit-keyframes hvr-ripple-out {
	100% {
	  top: -12px;
	  right: -12px;
	  bottom: -12px;
	  left: -12px;
	  opacity: 0;
	}
  }
  @keyframes hvr-ripple-out {
	100% {
	  top: -12px;
	  right: -12px;
	  bottom: -12px;
	  left: -12px;
	  opacity: 0;
	}
  }
  .hvr-ripple-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
  }
  .hvr-ripple-out:before {
	content: '';
	position: absolute;
	border: #e1e1e1 solid 6px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
  }
  .hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
	-webkit-animation-name: hvr-ripple-out;
	animation-name: hvr-ripple-out;
  }
  

#mainText{
    margin-top: 30vh;
}


.hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.homepagetext {
    color: white;
}

.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

.parallax{
	position:static;
  }


.parallax-container {
	padding-top: 20px;
	height: 670px;
	display: flex;
	width: 100%;
	padding-bottom: 55px;

}

/*ipad mini, air, pro*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .parallax-container {
    width: 100%;
	display: flex;
    height: 795px;
  }
}

/*iphone SE*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  .parallax-container {
    width: 100%;
	display: flex;
    height: 785px;
  }
}

#work {
	background-color: #37474f;
	color: #eceff1;
}

.resumeBTN {
	color: black;
	background-color: #37474f;
}

.projectsbtn {
	background-color: #eceff1;
}


#cardtitlebarWEBDEV {
	background-color: #37474f;
	color: #eceff1;
	font-family: 'Source Serif Pro', serif;
}

.webdevprojects {
	
	font-family: 'Pontano Sans', sans-serif;
	}

#cardtitlebar {
	color: #37474f;
	background-color: #607d8b;
}

#cardtitlebarWriting {
	background-color: #37474f;
	color: #eceff1;
	font-family: 'Source Serif Pro', serif;
}

#cardtitlebarVideo {
	background-color: #37474f;
	color: #eceff1;
	font-family: 'Source Serif Pro', serif;
}

.webdevTitleBar {
	background-color: #37474f;
	color: #eceff1;
}

.aboutme {
	color: #9aaca1;
}

.aboutmetext {
	color: #eceff1;
	text-align: center;
	
}

.aboutmeList {
	color: #eceff1;
	text-align: left
}

.writingCard {
	color: #37474f;
}

.writingcardContent {
	background-color:  #eceff1;
}

.wrapper{
    width: 1100px;
    height: 900px;
    background-color: #9aaca1;
    margin-bottom: 100px;
    padding: 20px;
    clear: both;
    overflow: hidden;
    border-style: solid 300px;
    border-color: black;
    
    
}

.wrapperprojects {
	width: 960px;
	height: 1300px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 20px;
	clear: both;
	overflow: hidden;
	border-style: solid 50px;
	border-color: #dddddd;
  
  }

.cardtitle {
	color: #371742;
}

.cardcopy {
	color: #12040a;
}

.cardlink {
	color: 	#371742;
}

.center-cols > .col {
	
	display: inline-block; /* make blocks inline-block */
	
  }

.card1Align {
	width: 30%;
}

.myprojectsTitle {
	color: #607d8b;
}

.h3{
	color: #9aaca1;
}



/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: top;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	cursor: pointer;
  }
  .hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #2098D1;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
  }

.digitalimage {
	opacity: 0.5;
}

.skillsection {
	height: 732px;

}

/* unvisited link */
a:link {
	color: darkslategray
  }
  
  /* visited link */
  a:visited {
	color: darkslategray
  }
  
  /* mouse over link */
  a:hover {
	color: #636fa3;
  }
  
 .cardheadline {
	 font-size: 20px;
	 text-decoration: underline;
	 
 }

 .headlineactivator {
	color: #eceff1;
	font-size: 2px;
	font-style: italic
 }
 *{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
  
  h1{
	font-size: 2.5rem;
	font-family: 'Montserrat';
	font-weight: normal;
	color: #444;
	text-align: center;
	margin: 2rem 0;
  }
  
  .wrapper{
	width: 150%;
	margin: 0 auto;
	max-width: 80rem;
  }
  
  .boxes{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	width: 190%;
	margin-left: -295px;
  }
  
  .box{
	width: 33%;
	
	cursor: pointer;
  }

 .container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
  font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
    
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

  .projectlink {
	  color: #607d8b 
  }

  .videocard{
	  margin-left: -60px;
  }

  .digitalcontentsubhead {
	font-family: 'Merriweather', serif;
	font-size: 24px;
  }

  .recommendationText {
	font-family: 'Raleway', sans-serif;
  }

  .responsive-img circle {
	margin-left: 35px;
  }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  *:focus {
	outline: 0;
  }
  
  html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
/* set to !important to override Materialize stylesheet */

.carousel {
  height: 545px !important;
  perspective: 775px;
  transform: translateY(-160px);
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-top: -300px;
}

/* set to flexbox to center the images with the indicator icons */
.carousel-item {
  display: flex;
  align-items: start;
  justify-content: center;
  
}

.carousel-item img {
  width: auto !important;
  height: 355px !important;
  border-color: rgb(55,73,95);
  border: 4px solid;
  padding: 0px;
 
  }




		