a {
	color: #263238;
}

a:link{
	color: #607d8b;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

.bodycopy {
		background-color: #607d8b ;
		color: rgba(255,255,255,0.8);
}

.nametitle {
	color: #eceff1
}

.header {
    background-color: #607d8b ;
}

#landing{
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/10/26/15/26/board-503944_960_720.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    
}
#mainText{
    margin-top: 30vh;
}


.hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.homepagetext {
    color: white;
}

.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

.parallax{
	position:static;
  }

  .parallax-container {
	height: 185vh;
  }

#work {
	background-color: #37474f;
	color: #eceff1;
}

#cardtitlebar {
	background-color: #37474f;
	color: #eceff1;
}

.aboutme {
	color: #9aaca1;
}

.wrapper{
    width: 1100px;
    height: 900px;
    background-color: #9aaca1;
    margin-bottom: 100px;
    padding: 20px;
    clear: both;
    overflow: hidden;
    border-style: solid 300px;
    border-color: black;
    
    
}

.cardtitle {
	color: #371742;
}

.cardcopy {
	color: #12040a;
}

.cardlink {
	color: 	#371742;
}

.center-cols > .col {
	
	display: inline-block; /* make blocks inline-block */
	
  }

.card1Align {
	width: 30%;
}

.myprojectsTitle {
	color: #607d8b;
}

.h3{
	color: #9aaca1;
}
